header{
    display: flex;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

body{
    font-family: sans-serif;
    margin: 0;
    background: url('https://png.pngtree.com/thumb_back/fw800/background/20201031/pngtree-abstract-technology-circuit-board-and-codes-background-image_451852.jpg') no-repeat center center fixed; 
    background-size: cover;
}

nav a:hover{
    color: white;
}

a.borde{
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1px white;
}

a.logo{
    color: white;
    text-decoration: none;
}

nav a{
    font-weight: 600;
    padding-left: 50px;
    -webkit-text-stroke: 0.5px white;
}


div a{
    color: white;
    text-align: center;
}

.arriba{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color:  white;
    margin-top: -21px;
}

.div1{
    margin-top: -21px;
    
}
